<ion-header>
  <ion-navbar>
    <ion-row>
        <img class="headerLogo"  src="http://www.ceiteach.org.nz/sites/ceiteach.org.nz/files/imagecache/paragraph/keith-crest-small.png">
        <ion-title text-center>Weather Marshall</ion-title>
        <button (click)="search()" class="headButt" ion-button small icon-start>
          <ion-icon name="search"></ion-icon>
        </button>
    </ion-row>
  </ion-navbar>
</ion-header>

<ion-content padding class="homePage">
    <!-- this is the start of the weather info, this grid will not load if there is nothing in "weather" via ngIf -->
  <ion-grid *ngIf="weather">
    <ion-row>
      <ion-col text-center class="currentCond">
        <h1 class="location">{{weather.display_location.full}}</h1>
        <ion-row class="tempMain">
          <ion-col col-3>
          </ion-col>
          <ion-col col-6>
            <h1 class="tempCurr">{{mainTemp}}</h1>
            {{weatherForecast.simpleforecast.forecastday[0].high.fahrenheit}}&deg; |
            {{weatherForecast.simpleforecast.forecastday[0].low.fahrenheit}}&deg;
          </ion-col>
          <ion-col col-3>
            <button class="refresh" (click)="refresh()" ion-button icon-start>
              <ion-icon name="refresh"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
<!--         <ion-row class="detailMainTitle">
            <ion-title class="dayTitle">{{weatherForecast.simpleforecast.forecastday[0].date.weekday}}
            </ion-title> 
        </ion-row> -->
        <ion-row class="detailMainWeather">
          <ion-col col-7>
            <ion-title class="dayTitle">{{weatherForecast.simpleforecast.forecastday[0].date.weekday}}
            </ion-title> 
          </ion-col>
          <ion-col col-2>
            <ion-row>
              <div class="icon iconMain">
                <img src="{{weather.icon_url}}">
              </div>
            </ion-row>
          </ion-col>
          <ion-col col-3 class="weatherWeather">
            {{weather.weather}}
          </ion-col>
        </ion-row>
        <ion-row class="detailMain">
          <ion-col col-3>
            <ion-row class="descriptTxt">Rain</ion-row>
            <ion-row class="descriptTxt">Amount</ion-row>
            <ion-row class="descriptTxt">Wind</ion-row>
            <ion-row class="descriptTxt">Direction</ion-row>
            <ion-row class="descriptTxt">Humidity</ion-row>
            <ion-row class="descriptTxt">Dewpoint</ion-row>
          </ion-col>
          <ion-col col-6>            
          </ion-col>
          <ion-col col-3>
            <ion-row class="descriptInfo">{{weatherForecast.simpleforecast.forecastday[0].pop}}%</ion-row>
            <ion-row class="descriptInfo">{{weatherForecast.simpleforecast.forecastday[0].qpf_allday.in}} in</ion-row>
            <ion-row class="descriptInfo">{{weather.wind_mph}} MPH</ion-row>
            <ion-row class="descriptInfo">{{weather.wind_dir}}</ion-row>
            <ion-row class="descriptInfo">{{weather.relative_humidity}}</ion-row>
            <ion-row class="descriptInfo">{{weather.dewpoint_f}}</ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid>
    <ion-title text-center class="foreTitle">Forecast</ion-title>
    <ion-row class="foreIcons" *ngIf="weather">
      <ion-col text-center col-3>
        <ion-row>
          <ion-col text-center>
            {{dayOne}}
          </ion-col>
        </ion-row >
        <img src="{{weatherForecast.simpleforecast.forecastday[0].icon_url}}">
        <ion-row>
          <ion-col text-center>
            {{weatherForecast.simpleforecast.forecastday[0].high.fahrenheit}}&deg;  |
            {{weatherForecast.simpleforecast.forecastday[0].low.fahrenheit}}&deg; 
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col text-center col-3>
        <ion-row>
          <ion-col text-center>
            {{dayTwo}}
          </ion-col>
        </ion-row >
        <img src="{{weatherForecast.simpleforecast.forecastday[1].icon_url}}">
        <ion-row>
          <ion-col text-center>
            {{weatherForecast.simpleforecast.forecastday[1].high.fahrenheit}}&deg;  |
            {{weatherForecast.simpleforecast.forecastday[1].low.fahrenheit}}&deg; 
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col text-center col-3>
        <ion-row>
          <ion-col text-center>
            {{dayThree}}
          </ion-col>
        </ion-row >
        <img src="{{weatherForecast.simpleforecast.forecastday[2].icon_url}}">
        <ion-row>
          <ion-col text-center>
            {{weatherForecast.simpleforecast.forecastday[2].high.fahrenheit}}&deg;  |
            {{weatherForecast.simpleforecast.forecastday[2].low.fahrenheit}}&deg; 
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col text-center col-3>
        <ion-row>
          <ion-col text-center>
            {{dayFour}}
          </ion-col>
        </ion-row >
        <img src="{{weatherForecast.simpleforecast.forecastday[3].icon_url}}">
        <ion-row>
          <ion-col text-center>
            {{weatherForecast.simpleforecast.forecastday[3].high.fahrenheit}}&deg;  |
            {{weatherForecast.simpleforecast.forecastday[3].low.fahrenheit}}&deg; 
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row class="chart" text-center>
      <canvas #forecastCanvas></canvas> 
    </ion-row>
  </ion-grid>
</ion-content>
